##################################################################################################
#   BTT Smart Filament Sensor 2.0
#   From https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/pause_resume_filament.html
##################################################################################################

[filament_switch_sensor switch_sensor]
switch_pin: ^PG12
pause_on_runout: True
insert_gcode:
    M117 Filament Detected (switch)
runout_gcode:
    M117 Filament End Detected (switch)

[filament_motion_sensor filament_sensor]
detection_length: 3.00 #2.88
extruder: extruder
switch_pin: ^PG13
pause_on_runout: True
insert_gcode:
  M117 Filament Detected (sensor)
runout_gcode:
  M117 Filament End Detected (sensor)

[delayed_gcode DISABLEFILAMENTSENSOR]
initial_duration: 10
gcode:
  SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
