#####################################################################
#   A better print_start macro for v2.4 (Optimized for Cartographer Touch)
#####################################################################

[gcode_macro PRINT_START]
gcode:
    # 1. Fetch data from slicer
    {% set target_bed = params.BED|int %}
    {% set target_extruder = params.EXTRUDER|int %}
    {% set target_chamber = params.CHAMBER|default("45")|int %}
    {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

    # 2. Initial Setup
    SET_PIN PIN=caselight VALUE=0.50
    SET_GCODE_OFFSET Z=0                                   
    BED_MESH_CLEAR                                         

    # 3. Homing & Heating Bed + Nozzle to 150C (No-ooze temperature)
    STATUS_HEATING
    M140 S{target_bed}       ; Start bed verwarming
    M104 S150                ; Start hotend verwarming tot veilige 150C
    
    STATUS_HOMING
    G28                      ; Home assen alvast terwijl hij opwarmt

    G1 X{x_wait} Y{y_wait} Z15 F9000                       
    M190 S{target_bed}       ; Wacht tot bed op temperatuur is
    M109 S150                ; Wacht tot hotend op 150C is

    # Heatsoak logic
    {% if target_bed > 90 %}
        SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c" 
        M106 S255                                          
        SET_PIN PIN=nevermore VALUE=1                        
        TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber} 
    {% else %}
        SET_DISPLAY_TEXT MSG="Soak for 1 min"              
        G4 P10000                                          
    {% endif %}

    # 4. Leveling, Touch & Mesh (Alles op 150C, dus 0,0 lekkage)
    SET_DISPLAY_TEXT MSG="Leveling"                        
    STATUS_LEVELING                                        
    QUAD_GANTRY_LEVEL                                      
    G28 Z                                                  
    
    SET_DISPLAY_TEXT MSG="Cartographer Touch"
    CARTOGRAPHER_TOUCH       ; Meten op 150C

    SET_DISPLAY_TEXT MSG="Bed mesh"                        
    STATUS_MESHING                                         
    BED_MESH_CALIBRATE ADAPTIVE=1                          

    # 5. Parkeer boven de borstel, warm op naar Print Temp & Clean
    SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"      
    STATUS_HEATING   
    G90
    G1 X28 Y299 Z10 F9000    ; Parkeer alvast boven de borstel (jouw clean_nozzle startpunt)
    
    M109 S{target_extruder}  ; Warm nu pas op naar volledige printtemperatuur (bijv 210C)
    
    CLEAN_NOZZLE             ; Purge, Wipe & Retract (met de nieuwe retracties!)

    # 6. Print Start
    SET_DISPLAY_TEXT MSG="Printer goes brr"                
    STATUS_PRINTING                                        
    G0 X{x_wait - 50} Y4 F10000                            
    G0 Z0.4                                                
    G91                                                    
    G1 X100 E20 F1000                                      
    G90                                                    
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1

    
[gcode_macro PRINT_END]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                                                 
    G92 E0                                               
    G1 E-5.0 F1800                                       
    
    TURN_OFF_HEATERS
    STATUS_COOLING
    
    G90                                                  
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000              
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  
    M107                                                 
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    SET_PIN PIN=nevermore VALUE=0
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0  

######################################################################
# Pause, Resume, Cancel & Filament Macros
######################################################################

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(25)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    {% set z = params.Z|default(10)|int %}
    {% if printer['pause_resume'].is_paused|int == 0 %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                              
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}    
        SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0                                  
        SAVE_GCODE_STATE NAME=PAUSE                                                          
        BASE_PAUSE                                                                           
        {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}       
            G91                                                                              
            G1 Z{z} F900                                                                     
        {% else %}
            { action_respond_info("Pause zhop exceeds maximum Z height.") }                  
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}
        G90                                                                                  
        G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} F6000   
        SAVE_GCODE_STATE NAME=PAUSEPARK                                                      
        M104 S0                                                                              
        SET_IDLE_TIMEOUT TIMEOUT=43200                                                       
    {% endif %}

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    {% set e = params.E|default(2.5)|int %}                                                  
    {% if printer['pause_resume'].is_paused|int == 1 %}
        SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1                                  
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}          
        {% if etemp > 0 %}
            M109 S{etemp|int}                                                                
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100                             
        G91                                                                                  
        M83                                                                                  
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
            G1 Z{zhop * -1} E{e} F900                                                        
        {% else %}
            G1 Z{zhop * -1} F900                                                             
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60                                  
        BASE_RESUME                                                                          
    {% endif %}

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}              
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    PRINT_END
    BASE_CANCEL_PRINT
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0                                      

[gcode_macro LOAD_FILAMENT]
variable_load_distance:  80
variable_purge_distance:  25
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    G1 E{load_distance} F{max_velocity} 
    G1 E{purge_distance} F{speed} 
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance:  80
variable_purge_distance:  25
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E{purge_distance} F{speed} 
    G1 E-{unload_distance} F{max_velocity} 
    RESTORE_GCODE_STATE NAME=unload_state